<div class="h-screen flex flex-col">

  <app-topbar (toggleAdmin)="toggleAdminPanel()"></app-topbar>

  <div class="flex flex-1 overflow-hidden">

    <app-sidebar></app-sidebar>

    <main class="flex-1 overflow-y-auto p-6">

      <!-- CASILLERO + MENSAJE -->
      <div class="mb-4 text-sm text-slate-600">

        Casillero activo:

        <span class="font-semibold text-slate-900">
          {{ (casilleroId$ | async) ?? 'Ninguno seleccionado' }}
        </span>

        <!-- mensaje solo si no hay casillero -->
        <ng-container *ngIf="!(casilleroId$ | async)">
          <!-- <div class="text-xs text-slate-500 mt-1">
            Selecciona un casillero para comenzar
          </div> -->
        </ng-container>

      </div>

      <!-- BUSCADOR (SI LO VUELVES A ACTIVAR) -->
      <!--
      <app-legajos-search></app-legajos-search>
      -->
      <!-- CONTENIDO PRINCIPAL -->
      <router-outlet></router-outlet>
      <!-- PANEL ADMIN -->
      <div *ngIf="showAdminPanel" class="mt-6 border-t pt-6">

        <h2 class="text-lg font-semibold mb-4">
          Gestión de Usuarios
        </h2>

        <app-admin-usuarios-page></app-admin-usuarios-page>

      </div>

      

    </main>

  </div>

</div>