<aside class="w-64 h-full bg-slate-50 border-r border-slate-200 p-4 flex flex-col">

  <!-- Título -->
  <h2 class="text-lg font-semibold text-slate-800 mb-4">
    Casilleros
  </h2>

  <!-- Lista dinámica -->
  <nav class="space-y-2 flex-1">

    <!-- BOTONES CASILLEROS -->
    <button
      *ngFor="let casillero of casilleros"
      type="button"
      (click)="selectCasillero(casillero.id)"
      class="w-full text-left px-3 py-2 hover:border-l-4"

      [ngClass]="{
        'font-semibold border-l-8 border-yellow-200':
        (selectedCasilleroId$ | async) === casillero.id
      }"
    >
      {{ casillero.nombreCasillero }}
    </button>

  </nav>

  <!-- Footer -->
  <div class="pt-4 border-t border-slate-200 text-xs text-slate-500">
    Microdocs · v0.1
  </div>

</aside>